
<div class="container">
  <div class="col-md-12 text-center">
     <%= image_tag avatar_url(@user), class: "w-96 circle b-a" %>
        <div class="m-t-md"><strong><%= @user.nickname %></strong></div>
        <div><%= @user.bio %></div>

    <div class="text-lg m-y-lg"><strong>Games upvoted</strong></div>
  </div>
</div>