<div class="container">
  <div class="col-md-2">
  </div>
  
  <div class="col-md-8">
    <div class="m-b-lg text-lg"><strong>About Submit Game</strong></div>
    <img src="/images/hc-profile.png" class="w-96 circle b-a m-b-lg">
    <p>
      Hello, i'm Henri. Some of my friends are indie game devs. They are good, very good, but many complain about a recurring problem : "How to promote my game???". … And the most annoying part is that if they don't promote their games, it won't work. To highlight the problem more clearly: <strong>indie games suffer from a lack of visibility </strong>and working weeks may be wiped out due to lack of promotion. 
    </p>
    <p>
      This affects all indie game developers. Just consult <a href="https://www.quora.com/search?q=promote+indie+game" target="_blank">Quora</a> to realize that this problem is global. 
    </p>
    <p>
      I'm not telling you that my solution will revolutionize lives, but it's a good start. I created a simple platform to help game creators to get more exposure, <strong>submitting their works to video game enthusiasts</strong> around the world for free. 
    </p>
    
    <p>
      I hope it'll help :) 
    </p>
    
  </div>
  
  
  
</div>