<!-- content -->
  <div id="content" class="app-content" role="main">
    <div class="app-body white">

    <div class="app" id="app">

<!-- ############ LAYOUT START-->



<!-- ############ PAGE START-->

<div class="row-col white">

	<div class="col-sm-3 aside aside-sm"></div>
	<div class="col-sm-5 text-left">
		<div class="p-t-md p-b-lg">
			<h1 class="m-y-md text-black"><strong>Discover new indie games, every day.</strong></h1>
            <h4 class="text-muted m-y-md">Get our exclusive discoveries in your inbox!</h4>

<!-- Begin MailChimp Signup Form -->

<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>


            <form action="https://freetactic.us17.list-manage.com/subscribe/post?u=08e28c39bbd30eeebb85a6062&amp;id=2ffe35d186" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="m-b-lg __web-inspector-hide-shortcut__">
              <div class="input-group input-group-lg">
              <input type="email" id="mce-EMAIL" value="" name="EMAIL" class="form-control" placeholder="Your email" style="background-color: #fafafa" required>
                <span class="input-group-btn">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn b-a no-shadow success text-white">Subscribe</input></span>
              </div>
            </form>
<!--End mc_embed_signup-->


		</div>
	</div>
	<div class="col-sm-3 text-center">
  </div>
</div>


<div class="p-t-sm b-b b-t" id="features">
  <div class="p-y-lg">


  <div class="row m-b-lg m-x-lg">


  <div class="col-sm-1 text-left"></div>
  <div class="col-sm-10 text-left">

  <div class="padding-none">
  <div class="p-y-sm clearfix">

  <a href="kernlus.html" class="col-md-4 m-t-md">
    <div class="box b-a m-a" style="box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.02);">
      <div class="item b-b">
        <div><img src="images/kernlus.jpg" alt="." width="100%"></div>
      </div>
      <div class="p-a text-left white">
        <h6 class="text-md block p-b-sm"><strong>Kernl.us</strong></h6>
        <span class="text-muted text-md p-t-md">Wordpress seamless plugin and theme updates</span>
        <div class="m-t-md">
        <img alt="." src="images/jackslingerland.jpg" class="w-32 circle">
        <span class="m-t-sm text-black pull-right text-md"><strong>$700</strong>/mo</span>
        </div>
      </div>
    </div>
  </a>

    <a href="#" data-toggle="modal" data-target="#m" class="col-md-4 m-t-md">
    <div class="box b-a m-a" style="box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.02);">
      <div class="item b-b">
        <div><img src="images/codeforcash.jpg" alt="." width="100%"></div>
      </div>
      <div class="p-a text-left white">
        <h6 class="text-md block p-b-sm"><strong>CodeForCash</strong></h6>
        <span class="text-muted text-md p-t-md">Freelance programming jobs in your inbox daily</span>
        <div class="m-t-md">
        <img alt="." src="images/zackburt.jpg" class="w-32 circle">
        <span class="m-t-sm text-info pull-right text-md"><span class="label grey-100 m-l-sm text-sm">UPCOMING</span></span>
        </div>
      </div>
    </div>
  </a>

    <a href="#" data-toggle="modal" data-target="#m" class="col-md-4 m-t-md">
    <div class="box b-a m-a" style="box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.02);">
      <div class="item b-b">
        <div><img src="images/bugmuncher.jpg" alt="." width="100%"></div>
      </div>
      <div class="p-a text-left white">
        <h6 class="text-md block p-b-sm"><strong>BugMuncher</strong></h6>
        <span class="text-muted text-md p-t-md">Get quality website feedback from your users</span>
        <div class="m-t-md">
        <img alt="." src="images/mattbearman.jpg" class="w-32 circle">
        <span class="m-t-sm text-info pull-right text-md"><span class="label grey-100 m-l-sm text-sm">UPCOMING</span></span>

        </div>
      </div>
    </div>
  </a>

   <a href="#" data-toggle="modal" data-target="#m" class="col-md-4 m-t-md">
    <div class="box b-a m-a" style="box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.02);">
      <div class="item b-b">
        <div><img src="images/raterfox.jpg" alt="." width="100%"></div>
      </div>
      <div class="p-a text-left white">
        <h6 class="text-md block p-b-sm"><strong>RaterFox</strong></h6>
        <span class="text-muted text-md p-t-md">Chrome extension for movie lovers with reviews & trailers</span>
        <div class="m-t-md">
        <img alt="." src="images/jakeprins.jpg" class="w-32 circle">
        <span class="m-t-sm text-info pull-right text-md"><span class="label grey-100 m-l-sm text-sm">UPCOMING</span></span>
        </div>
      </div>
    </div>
  </a>

  <a href="#" data-toggle="modal" data-target="#m" class="col-md-4 m-t-md">
    <div class="box b-a m-a" style="box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.02);">
      <div class="item b-b">
        <div><img src="images/helpdocs.jpg" alt="." width="100%"></div>
      </div>
      <div class="p-a text-left white">
        <h6 class="text-md block p-b-sm"><strong>HelpDocs</strong></h6>
        <span class="text-muted text-md p-t-md">Educate your users with a super simple knowledge base</span>
        <div class="m-t-md">
        <img alt="." src="images/jakepeters.jpg" class="w-32 circle">
        <span class="m-t-sm text-info pull-right text-md"><span class="label grey-100 m-l-sm text-sm">UPCOMING</span></span>
        </div>
      </div>
    </div>
  </a>

  <a href="#" data-toggle="modal" data-target="#m" class="col-md-4 m-t-md">
    <div class="box b-a m-a" style="box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.02);">
      <div class="item b-b">
        <div><img src="images/pixelme.jpg" alt="." width="100%"></div>
      </div>
      <div class="p-a text-left white">
        <h6 class="text-md block p-b-sm"><strong>PixelMe</strong></h6>
        <span class="text-muted text-md p-t-md">URL shortener for really savvy marketers</span>
        <div class="m-t-md">
        <img alt="." src="images/tombenattar.jpg" class="w-32 circle">
        <span class="m-t-sm text-info pull-right text-md"><span class="label grey-100 m-l-sm text-sm">UPCOMING</span></span>
        </div>
      </div>
    </div>
  </a>

  </div>




    <div class="col-sm-1 text-left"></div>

      <div class="col-sm-12 m-y-lg text-center">
       <h2 class="m-y-lg"><strong> Want more tactics in your inbox?</strong></h2>
      <a href="#" data-toggle="modal" data-target="#m" class="btn btn-lg info text-white btn-lg m-l-sm">Subscribe</a>
      </div>
    </div>


    </div>


  <!-- Subscribe Modal -->



    <div id="m" class="modal white-overlay in p-y-lg" data-backdrop="true" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h2 class="modal-title text-center"><strong>Get more tactics in your inbox!</strong> </h2>
    <h6 class="modal-title text-center">Receive our exlusive interviews</h6>
    </div>

    <div class="modal-body text-center p-lg">

    <!-- Begin MailChimp Signup Form -->

<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>


            <form action="https://freetactic.us17.list-manage.com/subscribe/post?u=08e28c39bbd30eeebb85a6062&amp;id=2ffe35d186" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="p-a __web-inspector-hide-shortcut__ p-r-lg">
              <div class="input-group input-group-lg">
              <input type="email" id="mce-EMAIL" value="" name="EMAIL" class="form-control" placeholder="Your email" style="background-color: #fafafa" required>
                <span class="input-group-btn">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn b-a no-shadow info text-white">Subscribe</input></span>
              </div>
            </form>
<!--End mc_embed_signup-->

    </div>

    </div>
    </div>
    </div>


    <!--  End Subscribe Modal -->


    </div>

<!-- ############ PAGE END-->

    </div>
  </div>




<!-- ############ PAGE END-->

    </div>
  </div>
  <!-- / -->

<div class="footer text-info-hover">
    <div class="container">
      <div class="m-y-lg">
        <div class="col-md-3"></div>
        <div class="col-md-6 m-b-lg">
          <div class="text-md p-y-sm text-center text-black">
            Some questions ? Consult <a href="about.html" class="text-info">about</a> section
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="m-y-sm">
        <div class="col-md-3"></div>
        <div class="col-md-6 m-b-sm">
          <div class="p-y-sm text-center text-sm text-u-c m-b text-muted">
            Freetactic 2018 - All rights reserved

          </div>
        </div>
      </div>
    </div>


  </div>

<!-- ############ LAYOUT END-->
  </div>