<div class="container">
  <div class="col-md-2">
  </div>
  
  <div class="col-md-8">
    <div class="m-b-lg text-lg"><strong>Invites</strong></div>
    <p>
      A limited number of people can post on Submit Game to maintain an healthy volume of submissions each day.
    </p>
		<a href="mailto:invite@submitgame.io" class="btn btn-md deep-purple">Get an invite</a>
  </div>
  
  
  
</div>