<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "My games", games_path, class:"sidebar-link active" %></li>
    </ul>
    
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        My games
      </div>
      <div class="panel-body">
        
        <% @games.each do |game| %>
        <div class="row m-y-md">
          <div class="col-md-2">
            <%= image_tag game.photos[0].image.url(:medium) if game.photos.length > 0 %>
          </div>
          <div class="col-md-5">
            <%= link_to game.game_name, game_path(game) %>
          </div>
          <div class="col-md-3">
            <%= link_to "Update", edit_game_path(game), class: "btn btn-primary" %>
          </div> 
          
        </div>
        <% end %>
      </div>
    </div>
    
  </div>
</div>