@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";


body {
    font-family: avenir !important;
}

a {
    text-decoration: none !important;
  }

a:visited {
    text-decoration: none !important;
  }

a:hover {
    text-decoration: none !important;
  }

.form-control-lg, .input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.bt {
    padding: none !important;
}

.navbar-brand {
    padding-top: .0rem !important;
}

.navbar-brand img, .navbar-brand svg {
    top: 0.5rem !important;
}

.nav > li > a:hover {
    background-color: #fff !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #fff !important;
}


.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

 /* not requied only for demo * */
.row [class*='col-'] {
  background-colo: #cceeee;
  background-clip: content-box;
}
.panel {
    height: 100%;
}







